@import 'src/scss/vars';

.main-container {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    height: 100vh;
    overflow-x: hidden;
    .left-section {
        img {
            animation: rotate 60s infinite forwards linear;
            margin: auto;
            max-width: 80%;
        }
    }
    .right-section {
        background-color: $white;
        padding: 2rem;
    }
    @include for-tablet-portrait-up {
        overflow: hidden;
        .right-section {
            height: inherit;
            overflow-y: scroll;
        }
    }
  }